---
import { CollectionEntry, getCollection } from 'astro:content';
import WorkHeader from '@components/work/WorkHeader.astro';
import Layout from '@layouts/Layout.astro';

interface Props {
  entry: CollectionEntry<'works'>;
}

export async function getStaticPaths() {
  const works = await getCollection('works');
  return works.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

//<BaseLayout page={entry.data.title} image={entry.data.img} description={`${entry.data.title} - ${entry.data.description}`}>
---

<Layout>
  <main class="container flex flex-col gap-12 py-24">
    <WorkHeader data={entry.data} />
    <img class="m-0 p-0" src={entry.data.img.src} />
    <section class="mx-auto prose prose-2xl prose-img:bg-stone-200 marker:text-black prose-marker:text-sky-40 prose-a:border-b hover:prose-a:border-solid  prose-a:no-underline prose-a:border-dashed prose-a:border-black">
      <Content />
    </section>
  </main>
</Layout>

