---
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  label: string;
  icon: string;
}

const { label, icon, href, ...props } = Astro.props;
---

<a
  class="hover-fx flex h-10 min-w-fit items-center gap-2 rounded-full bg-black px-4 text-base text-white sm:gap-4 lg:h-14 lg:gap-6 lg:px-6 lg:text-lg"
  href={href}
  aria-label={`${label}`}
  title={`${label}`}
  {...props}
  target="_blank"
  rel="nofollow noopener noreferrer"
>
  {label}
  <Icon name={icon} class="w-8 fill-none stroke-current lg:w-12" />
</a>

<style>
  .hover-fx {
    background-image: linear-gradient(#fff, #fff);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
  }
  .hover-fx:hover {
    background-size: 100% 100%;
    color: var(--color-black);
  }
  @media (prefers-reduced-motion: reduce) {
    .hover-fx {
      transition: none;
    }
  }
</style>
