---
import type { HTMLAttributes } from 'astro/types';
import Icon from 'astro-icon';

interface Props extends HTMLAttributes<'a'> {
  label: string;
  icon: string;
}

const { label, icon, href, ...props } = Astro.props;
---

<a
  class="hover-fx max-w-fit flex gap-2 px-6 items-center text-base py-3 bg-black text-white rounded-full"
  href={href}
  aria-label={`${label}`}
  title={`${label}`}
  target="_blank"
  {...props}
  rel="nofollow noopener noreferrer"
>
  {label}
  <Icon name={icon} class="stroke-none fill-none w-6" />
</a>

<style>
  .hover-fx {
    background-image: linear-gradient(#fff, #fff);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
    border:none;
  }
  .hover-fx:hover {
    background-size: 100% 100%;
    color: black;
    border:none;
  }
</style>
