---
import type { HTMLAttributes } from 'astro/types';
import Icon from 'astro-icon';

interface Props extends HTMLAttributes<'a'> {
  label: string;
  icon: string;
}

const { label, icon, href, ...props } = Astro.props;
---

<a
  class="hover-fx min-w-fit flex gap-2 sm:gap-4 lg:gap-6 px-4 lg:px-6 items-center text-base lg:text-lg h-10 lg:h-14 bg-black text-white rounded-full"
  href={href}
  aria-label={`${label}`}
  title={`${label}`}
  {...props}
  target="_blank"
  rel="nofollow noopener noreferrer"
>
  {label}
  <Icon name={icon} class="stroke-current fill-none w-8 lg:w-12" />
</a>

<style>
  .hover-fx {
    background-image: linear-gradient(#fff, #fff);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
  }
  .hover-fx:hover {
    background-size: 100% 100%;
    color: black;
  }
  @media (prefers-reduced-motion: reduce) {
    .hover-fx {
      transition: none;
    }
  }
</style>
