---
import { Image } from "astro:assets";
import { getEntry, render } from "astro:content";
interface Props {
  id: string;
}
const { id } = Astro.props;

const entry = await getEntry("feature", id);

if (!entry) {
  throw new Error("Could not find entry");
}

const { Content } = await render(entry);
---

<article
  class="dark:bg-muted/15 reveal flex flex-col gap-6 bg-gradient-to-r from-[#fff] from-30% p-4 md:flex-row md:p-8 lg:flex-col lg:bg-gradient-to-b dark:bg-none"
>
  <div class="flex justify-center lg:flex-none">
    <Image
      class="max-w-[250px] md:max-w-[300px] lg:max-w-[200px] dark:invert"
      src={entry.data.img_url}
      width={entry.data.img.width}
      height={entry.data.img.height}
      alt={`Illustration ${entry.data.title}`}
    />
  </div>
  <div
    class="border-muted border-t border-dashed p-6 md:border-t-0 md:border-l lg:border-t lg:border-l-0 lg:p-0 lg:pt-6"
  >
    <h2 class="font-title text-3xl tracking-wide uppercase sm:text-4xl">
      {entry.data.title}
    </h2>
    <div class="prose-md sm:prose-lg pt-4 text-pretty">
      <Content />
    </div>
  </div>
</article>
