---
import '../styles/global.css';

export interface Props {
	baseTitle?: string | undefined;
    page?: string |undefined;
	description?: string | undefined;
    link?: string | undefined;
    image?: string | undefined;
}

const {
	page = 'Home',
    baseTitle = 'Jérôme Abel',
	description = 'The portfolio of Jérôme Abel, a Front-end developer with a background in interactive & electronic arts',
    link = 'https://jeromeabel.github.io/',
    image = "/images/social.jpg"
} = Astro.props as Props;

const title = `${page} - ${baseTitle}`;

const imageURL = new URL('/images/social.jpg', Astro.url);

---

        <meta charset="utf-8" />

        <!-- Icon -->
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />

        <title>{title}</title>

        <!-- Primary Meta Tags -->
        <meta name="title" content={title}>
        <meta name="description" content={description}>

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content={link}>
        <meta property="og:title" content={title}>
        <meta property="og:description" content={description}>
        <meta property="og:image" content={imageURL}>

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content={link}>
        <meta property="twitter:title" content={title}>
        <meta property="twitter:description" content={description}>
        <meta property="twitter:image" content={imageURL}>
        