---
import type { CollectionEntry } from 'astro:content';

interface Props {
  work: CollectionEntry<'work'>;
  index: number;
}

const { data, slug } = Astro.props.work;
const { index } = Astro.props;

//  '(max-width: 1023px) 100vw, (max-width: 1536px) calc(50vw - 3rem), 768px';


---

<a
  href={`/work/${slug}`}
  title=""
>
  <article
    class=""
  >
  <img src={data.img} />
  </article>
</a>


 <!-- <Picture
      src={data.img}
      formats={['avif', 'webp', 'jpg']}
      widths={widths}
      sizes={sizes}
      aspectRatio="16:9"
      fit="inside"
      loading="eager"
      decoding="auto"
      class="rounded"
      alt={`Open the work ${data.title}`}
    /> -->