---
import { CollectionEntry, getCollection } from 'astro:content';

import { Icon } from 'astro-icon';


import BaseLayout from '../../layouts/BaseLayout.astro';

interface Props {
	entry: CollectionEntry<'projects'>;
}

export async function getStaticPaths() {
	const projects = await getCollection('projects');
	return projects.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout page={entry.data.title} image={entry.data.img} description={`${entry.data.title} - ${entry.data.description}`}>
	<main>
		<article class="container mx-auto">
			<header class="my-8 flex justify-between items-center">
				<div>
					<h1>{entry.data.title}</h1>
					<h2 class="text-4xl">{entry.data.description}</h2>
				</div>
				<div>
					<ul class="flex">
						{ entry.data.stack?.map( s => <li class="p-2">{s}</li>)}
					</ul>
				</div>
			</header>

			<img src={entry.data.img_gradient} alt={entry.data.img_alt || entry.data.title }  class="block w-full" />

			<div class="flex justify-center my-24 gap-6">

				<a href={entry.data.git} title={entry.data.title} class="bg-black font-brand text-white flex radius-2 py-1 px-4 text-xl gap-2 items-center rounded-xl">
					Code Github 
					<Icon pack="mdi" name="github" class="h-6" />
				</a>

			 { entry.data.link &&
				(<a href={entry.data.link} title={entry.data.title} class="bg-black font-brand text-white flex radius-2 py-1 px-4 text-xl gap-2 items-center rounded-xl">
					Demo
					<Icon pack="mdi" name="arrow-top-right-thin" class="h-6" />
				</a>)
			 }
			</div>

			<section class="my-24 max-w-lg mx-auto">
				<Content />
			</section>
		</article>
	</main>
</BaseLayout>




<style>

	:global(h1),
	:global(h2),
	:global(h3),
	:global(h4),
	:global(h5) {
		margin: 1.5rem 0;
	}





</style>


