---
import { CollectionEntry, getCollection } from 'astro:content';
import { Picture} from '@astrojs/image/components';

import BaseLayout from '@layouts/BaseLayout.astro';
import ArrowLink from '@components/link/ArrowLink.astro';
import ButtonLink from '@components/link/ButtonLink.astro'

interface Props {
	entry: CollectionEntry<'work'>;
}

export async function getStaticPaths() {
	const works = await getCollection('work');
	return works.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();


const year = new Date(entry.data.date).getFullYear();


---

<BaseLayout page={entry.data.title} image={entry.data.img} description={`${entry.data.title} - ${entry.data.description}`}>
	<span class='absolute left-0 opacity-5 text-black text-9xl font-bold -rotate-90 -z-10'>{year}</span>
	<header class="mt-8 mb-16 w-full md:w-3/4 xl:w-1/2">
		<h1>{entry.data.title}</h1>
		<p class="text-2xl lg:text-4xl font-brand mb-8">{entry.data.abstract}</p>
		<div class="flex justify-between my-12 ">

			<div>
				<p class="font-bold">TYPE</p>
				<p>{entry.data.type}</p>
			</div>

			<div>
				<p class="font-bold">STACK</p>
				<ul>
				{ entry.data.stack?.map( tech => <li>{tech}</li>)}
				</ul>
			</div>

			<div >
				<p class="font-bold">LINKS</p>
				<div class="flex flex-col gap-2">
				{ entry.data.demo && <ArrowLink href={entry.data.demo} label="Demo" css="text-base"/> }
				{ entry.data.website && <ArrowLink href={entry.data.demo} label="Website" css="text-base"/> }
				{ entry.data.git && <ArrowLink href={entry.data.demo} label="Code" css="text-base"/> }
				</div>
			</div>	
		</div>

	</header>

	<Picture 
		src={entry.data.img}
		widths={[600, 900, 1200, 1536]}
		sizes="(max-width: 800px) 100vw, 1536px"
		formats={["avif", "webp", "jpg"]}
		loading="eager"
		decoding="auto"
		aspectRatio="16:9"
		fit="inside"
		alt={entry.data.img_alt || entry.data.title }
	/>

	<section class="content text-xl py-16">
		<Content />
	</section>
</BaseLayout>


<style>

			/* margin-inline: auto; */

	/* :global(section.content p, section.content ul, section.content h2, section.content pre) { 
		width: 75%;
		max-width: 48rem
	} */


</style>