---
import { type CollectionEntry, getCollection, render } from 'astro:content';

import ResponsiveImage from '@components/ResponsiveImage.astro';
import WorkHeader from '@components/work/WorkHeader.astro';
import WorkNavigation from '@components/work/WorkNavigation.astro';
import Layout from '@layouts/Layout.astro';

interface Props {
  entry: CollectionEntry<'work'>;
  next: CollectionEntry<'work'>;
  prev: CollectionEntry<'work'>;
}

export async function getStaticPaths() {
  const works = (await getCollection('work')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
  const numberOfWorks = works.length;

  return works.map((entry, i) => ({
    params: { id: entry.id },
    props: {
      entry,
      prev: i + 1 === numberOfWorks ? null : works[i + 1],
      next: i === 0 ? null : works[i - 1],
    },
  }));
}

const { entry, prev, next } = Astro.props;
const { Content } = await render(entry);

const publishedDate = new Date(entry.data.date);

---

<Layout
  page={entry.data.title}
  description={entry.data.description}
  {publishedDate}
  image={entry.data.img_social || entry.data.img}
>
  <main class="container flex flex-col gap-8 py-8 lg:gap-12 lg:py-24">
    <WorkHeader data={entry.data} />
    <ResponsiveImage
      src={entry.data.img}
      placeholder={entry.data.img_placeholder}
      alt={`${entry.data.title} project`}
      sizes={[1600, 1200, 800, 600]}
      loading="eager"
      class="shadow-lg"
    />
    <section
      class="md:mx-auto prose prose-blockquote:border-blue-600 prose-blockquote:font-thin prose-pre:leading-none sm:prose-xl lg:prose-2xl prose-p:leading-normal prose-li:leading-normal prose-headings:font-semibold prose-a:no-underline prose-a:border-b hover:prose-a:border-solid prose-a:border-dashed prose-a:border-black prose-img:bg-white prose-img:shadow-xl marker:text-black"
    >      <Content />

    </section>
    <WorkNavigation {next} {prev} />
  </main>
</Layout>
