---
import CustomImage from "@components/ui/CustomImage.astro";
import Prose from "@components/ui/Prose.astro";
import WorkHeader from "@components/work/WorkHeader.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const works = await getCollection("work");
  return works.map((work) => ({
    params: { id: work.id },
    props: { work },
  }));
}

const { work } = Astro.props;
const { Content } = await render(work);
const publishedDate = new Date(work.data.date);
---

<Layout
  page={work.data.title}
  description={work.data.description}
  {publishedDate}
  image={work.data.img_social || work.data.img}
>
  <main class="min-w-screen">
    <div class="container flex flex-col gap-8 py-8 lg:gap-12 lg:py-24">
      <WorkHeader data={work.data} />
      <CustomImage img={work.data.img} alt={work.data.title} />
    </div>
    <Prose class="md:mx-auto">
      <Content />
    </Prose>
  </main>
</Layout>
