---
import Prose from "@components/ui/Prose.astro";
import WorkHeader from "@components/work/WorkHeader.astro";
import Layout from "@layouts/Layout.astro";
import { Picture } from "astro:assets";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const works = await getCollection("work");
  return works.map((work) => ({
    params: { id: work.id },
    props: { work },
  }));
}

const { work } = Astro.props;
const { Content } = await render(work);
const publishedDate = new Date(work.data.date);
---

<Layout
  page={work.data.title}
  description={work.data.description}
  {publishedDate}
  image={work.data.img_social || work.data.img}
>
  <main
    class="container flex min-w-screen flex-col gap-8 py-8 lg:gap-12 lg:py-24"
  >
    <WorkHeader data={work.data} />
    <Picture
      src={work.data.img}
      formats={["avif", "webp"]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${work.data.img.width}px`}
      alt={`${work.data.title} project`}
      loading="eager"
    />
    <Prose class="md:mx-auto">
      <Content />
    </Prose>
  </main>
</Layout>
