---
import type { CollectionEntry } from "astro:content";
import DraftBadge from "./DraftBadge.astro";
interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

if (!post) {
  throw new Error("Sorry, could not find post");
}

const dateOptions: Intl.DateTimeFormatOptions = {
  year: "numeric",
  month: "numeric",
  day: "numeric",
};
const dateISOString = new Date(post.data.date).toLocaleDateString(
  "en-EN",
  dateOptions,
);

const title = post.data.title;
const titleSerie = post.data.series;
const order = post.data.order;
---

<a
  href=`/blog/${post.id}`
  class="border-muted-border hover:bg-muted-background flex items-center gap-4 border"
  ><time
    class="text-muted bg-muted-background border-muted-border flex h-full min-h-[50px] w-[120px] shrink-0 items-center border-e ps-4"
    >{dateISOString}</time
  >
  <h2 class="py-2 font-semibold">
    {
      titleSerie && (
        <span class="">
          "{titleSerie}" {order}:{" "}
        </span>
      )
    }{title}
  </h2>
  <DraftBadge visible={post.data.draft} />
</a>
