---
import { Icon } from "astro-icon/components";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import { getFormattedDate } from "src/utils/format-date";

interface Props {
  post: CollectionEntry<"post">;
}

const { post } = Astro.props;
const { remarkPluginFrontmatter } = await render(post);

if (!post) {
  throw new Error("Sorry, could not find post");
}
---

<a
  href=`/blog/${post.id}`
  class="border-muted-border hover:bg-muted-background/50 flex flex-col gap-2 border p-4 lg:p-6"
>
  <h2 class="text-xl font-bold tracking-wide lg:text-2xl">
    {post.data.title}
  </h2>
  <p class="line-clamp-2">{post.data.description}</p>
  <div class="text-muted mt-auto flex items-center justify-end gap-2">
    <Icon name="lucide:calendar" />
    <time class="text-sm">{getFormattedDate(post.data.date)}</time>
    <Icon name="lucide:clock" class="ms-6" />
    <span class="text-sm">{remarkPluginFrontmatter.minutesRead}</span>
  </div>
</a>
