---
import type { CollectionEntry } from "astro:content";
interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

if (!post) {
  throw new Error("Sorry, could not find post");
}

const dateOptions: Intl.DateTimeFormatOptions = {
  year: "numeric",
  month: "numeric",
  day: "numeric",
};
const dateISOString = new Date(post.data.date).toLocaleDateString(
  "en-EN",
  dateOptions,
);

const title = post.data.title;
const titleSerie = post.data.serie;
const order = post.data.order;

/*

  <time class="text-muted">{dateISOString}</time>


<time
    class="text-muted bg-muted-background border-muted-border flex h-full min-h-[50px] w-[120px] shrink-0 items-center border-e ps-4"
    >{dateISOString}</time
  >
    {
      titleSerie && (
        <span class="text-muted me-4 border-e pe-4">
          "{titleSerie}" {order}
        </span>
      )
    }{title}


    <DraftBadge visible={post.data.draft} />;
*/
---

<a
  href=`/blog/${post.id}`
  class="border-muted-border flex flex-col border-s-2 ps-4"
>
  <h2 class="font-semibold">{title}</h2>
  <p class="text-muted">{post.data.description}</p>
</a>
