---
import { Icon } from "astro-icon/components";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import { getFormattedDate } from "src/utils/format-date";

interface Props {
  post: CollectionEntry<"seriePost">;
  index: number;
}

const { post, index } = Astro.props;
const { remarkPluginFrontmatter } = await render(post);

if (!post) {
  throw new Error("Sorry, could not find post");
}

const order = index + 1;
---

<a
  href=`/blog/${post.id}`
  class="border-muted-border hover:bg-muted-background group relative flex flex-row items-center justify-between overflow-hidden border-b py-4 text-lg"
>
  <Icon
    name="lucide:arrow-right"
    class="text-muted absolute -translate-x-8 transition-transform group-hover:translate-x-2"
  />
  <h3 class="flex-1 transition-transform group-hover:translate-x-8">
    <span class="text-muted">
      {order} 🞄
    </span>
    {post.data.title}
  </h3>
  <div class="text-muted flex gap-2 font-mono text-sm">
    <p>{remarkPluginFrontmatter.minutesRead} -</p>
    <time>{getFormattedDate(post.data.date)}</time>
  </div>
</a>
