---
import SeriePostListItem from "@components/blog/SeriePostListItem.astro";
import { type CollectionEntry } from "astro:content";
import { getPostsFromSerie } from "src/utils/repository";

interface Props {
  serie: CollectionEntry<"serie">;
}

const { serie } = Astro.props;

if (!serie) {
  throw new Error("Sorry, could not find serie");
}

const posts = await getPostsFromSerie(serie);
---

<div class="border-muted-border flex flex-col gap-2 md:border-s md:ps-8">
  <a
    href={`/blog/${serie.id}`}
    class="text-xl font-semibold uppercase hover:text-white"
    title={serie.data.title}
    ><h3>
      {serie.data.title}
    </h3></a
  >
  <p class="text-muted max-w-prose">{serie.data.abstract}</p>
  <div class="mt-4">
    {posts.map((post, index) => <SeriePostListItem {post} {index} />)}
  </div>
</div>
