---
import { getEntry } from 'astro:content';
import Icon from 'astro-icon';
import ResponsiveImage from '@components/ResponsiveImage.astro';

interface Props {
  slug: string;
  layout?: number
}

const { slug, layout = 2} = Astro.props;

const work = await getEntry('works', slug);
---

<a
  href={'/works/' + work?.slug}
  title={`Open project ${work?.data.title}`}
  class="relative shadow-lg focus:outline-2 outline-black outline-offset-4"
>
  <article class="aspect-square bg-white group overflow-hidden">
    {
      work ? (
        <ResponsiveImage
          src={work.data.img_preview}
          placeholder={work.data.img_placeholder}
          sizes={[1200, 1000, 900, 600]}
          class="scale-100 motion-safe:group-hover:scale-110 transition-transform duration-1000"
          loading="lazy"
          {layout}
          alt={`${work?.data.title} preview`}
        />
      ) : null
    }
    <div
      class="absolute inset-0 grid place-items-center bg-black bg-opacity-0 group-hover:bg-opacity-90 duration-500 motion-reduce:transition-all"
    >
      <div
        class="flex-col gap-6 flex opacity-0 group-hover:opacity-100 duration-500"
      >
        <Icon
          name="icon_big_arrow_cross"
          class="h-24 sm:h-20 lg:h-32 motion-safe:-rotate-45 group-hover:rotate-0 transition-all delay-100 duration-500"
        />
        <p class="text-white text-4xl lg:text-6xl font-title">
          {work?.data.title}
        </p>
      </div>
    </div>
  </article>
</a>
