---
import H1 from "@components/ui/H1.astro";
import Link from "@components/ui/Link.astro";
import P from "@components/ui/P.astro";
import { Icon } from "astro-icon/components";
const { data } = Astro.props;

const year = new Date(data.date).getFullYear();
const dateISOString = new Date(data.date).toISOString().slice(0, 10);
---

<header class="flex w-full flex-col gap-4 lg:w-2/3 lg:gap-8">
  <div>
    <nav class="text-muted mb-2 flex items-center gap-1 uppercase">
      <Link href="/work" label="WORK" variant="menuInactive" />
      <Icon name="lucide:chevron-right" />
    </nav>
    <H1>{data.title}</H1>
  </div>
  <P>
    {data.abstract}
  </P>

  <table
    class="prose lg:prose-td:py-4 prose-td:border-b dark:prose-invert mt-2 min-w-full font-light sm:mt-6"
  >
    <tbody>
      <tr><td class="w-16 font-semibold">TYPE</td><td>{data.type}</td></tr>
      <tr>
        <td class="font-semibold">DATE</td>
        <td><time datetime={dateISOString}>{year}</time></td>
      </tr>
      <tr
        ><td class="font-semibold">STACK</td>
        <td class="capitalize">{data?.stack.join(", ")}</td>
      </tr>
    </tbody>
  </table>

  <div class="mt-4 flex flex-wrap gap-4">
    {
      data.website && (
        <Link href={data.website} label="Website" variant="external" />
      )
    }
    {data.live && <Link href={data.live} label="Demo" variant="external" />}
    {data.git && <Link href={data.git} label="Code" variant="external" />}
    {data.video && <Link href={data.video} label="Video" variant="external" />}
  </div>
</header>
