---
import Icon from 'astro-icon';

const aStyle="px-5 py-2 gap-1 text-md md:text-xl border-dashed border flex items-center rounded-full border-black hover:bg-white transition-all "
// 'flex gap-2 sm:gap-1 max-w-fit items-center text-lg px-4 sm:px-6 py-2 bg-transparent hover:bg-white transition-all text-black border border-dashed prose-a:border-none border-black rounded-full';
const iconStyle = 'stroke-current fill-none h-8';
const { prev, next } = Astro.props;

const nextURL = `/work/${next?.id}`;
const prevURL = `/work/${prev?.id}`;

---

<div class="flex justify-between pt-12 hover:prose-a:border-dashed prose-a:font-normal flex-wrap gap-6">
  <div>
    {
      prev ? (
        <a href={prevURL} class={aStyle} aria-label={prev?.data.title} title={`Previous: ${prev?.data.title}`}>
          <Icon name="ion:ios-arrow-thin-left" class={iconStyle} />
          <span class="hidden sm:block">{prev?.data.title}</span>
        </a>
      ) : null
    }
  </div>

  <div class="self-end">
    {
      next ? (
        <a href={nextURL} class={aStyle} aria-label={next?.data.title} title={`Next: ${next?.data.title}`}>
           <span class="hidden sm:block">{next?.data.title}</span>
          <Icon name="ion:ios-arrow-thin-right" class={iconStyle} />
        </a>
      ) : null
    }
  </div>
</div>
