---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  work?: CollectionEntry<"work">;
}

const { work } = Astro.props;

if (!work) {
  throw new Error("Sorry, could not find work");
}

const dateOptions: Intl.DateTimeFormatOptions = {
  year: "numeric",
  month: "long",
  day: "numeric",
};

const dateISOString = new Date(work.data.date).toLocaleDateString(
  "en-EN",
  dateOptions,
);
---

<a
  href={"/work/" + work.id}
  title={`Open the "${work.data.title}" project`}
  class="border-muted-border group hover:bg-muted-background relative grid auto-rows-[auto_1fr] border shadow-lg outline-offset-4 outline-black focus:outline-2 dark:shadow-none dark:outline-white"
>
  <div class="aspect-square overflow-hidden">
    <Image
      src={work.data.img_preview}
      alt={`${work.data.title} preview`}
      class="transition-transform duration-1000 motion-safe:group-hover:scale-105"
      loading="lazy"
    />
  </div>

  <div class="p-6">
    <p class="text-3xl font-semibold tracking-wide">
      {work.data.title}
    </p>
    <p class="line-clamp-2 pt-2">{work.data.description}</p>
  </div>

  <p class="text-muted px-6 pb-3 text-end">
    {dateISOString}
  </p>
</a>
