---
import ArrowLink from '@components/links/ArrowLink.astro';
const { data } = Astro.props;

const year = new Date(data.date).getFullYear();
---

<header class="w-1/2 flex flex-col gap-6">
  <h1 class="font-title text-5xl uppercase">{data.title}</h1>
  <p class="text-2xl lg:text-4xl font-brand">{data.abstract}</p>
  <div class="flex justify-between">
    <div class="flex flex-col gap-6">
      <div>
        <p class="font-bold">DATE</p>
        <p>{year}</p>
      </div>
      <div>
        <p class="font-bold">TYPE</p>
        <p>{data.type}</p>
      </div>
    </div>
    <div>
      <p class="font-bold">STACK</p>
      <ul>
        {data.stack?.map((tech) => <li>{tech}</li>)}
      </ul>
    </div>

    <div>
      <p class="font-bold">LINKS</p>
      <div class="flex flex-col gap-2">
        {
          data.demo && (
            <ArrowLink href={data.demo} label="Demo" css="text-base" />
          )
        }
        {
          data.website && (
            <ArrowLink href={data.website} label="Website" css="text-base" />
          )
        }

                {
          data.live && (
            <ArrowLink href={data.live} label="Demo" css="text-base" />
          )
        }
        {
          data.git && (
            <ArrowLink href={data.git} label="Code" css="text-base" />
          )
        }
      </div>
    </div>
  </div>
</header>
