---
import ArrowLink from '@components/links/ArrowLink.astro';
const { data } = Astro.props;

const year = new Date(data.date).getFullYear();
---

<header class="w-2/3 flex flex-col gap-6">
  <h1 class="font-title text-6xl uppercase tracking-widest">{data.title}</h1>
  <p class="text-3xl tracking-wide">{data.abstract}</p>
  <table class="min-w-fit prose prose-td:py-4 font-light mt-6 border-b border-black">
    <tbody class="prose-tr:border-gray-600">
      <tr><td class="font-semibold">TYPE</td><td>{data.type}</td></tr>
      <tr><td class="font-semibold">DATE</td><td>{year}</td></tr>
      <tr
        ><td class="font-semibold">STACK</td><td class="capitalize"
          >{data?.stack.join(', ')}</td
        ></tr
      >
    </tbody>
  </table>

  <div class="flex mt-4 gap-4">
    {data.website && <ArrowLink href={data.website} label="Website" />}
    {data.live && <ArrowLink href={data.live} label="Live" />}
    {data.git && <ArrowLink href={data.git} label="Code" />}
  </div>
</header>
