---
import { Icon } from 'astro-icon';
const { label, href, icon } = Astro.props;
//<Icon pack="mdi" name={icon} class="h-6" />
//<a class="bg-black font-brand text-white flex radius-2 py-1 px-3 text-xl gap-2 items-center rounded-lg"

---								
<a class=" py-1 px-3 flex items-center gap-2 border-black border rounded-full"
    aria-label={label} 
    title={label}
    href={href}>
    {label}
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25" />
</svg>

</a> 
