---
import type { ImageMetadata } from "astro";
import { getImage, Picture } from "astro:assets";

interface Props {
  img: ImageMetadata;
  alt: string;
  type?: "square" | "cover";
  class?: string;
}

const { img, alt, type = "cover", class: className } = Astro.props;

const placeholderImg = await getImage({
  src: img,
  format: "jpg",
  width: 32,
  height: 32,
});

const maxWidth = type === "cover" ? 1248 : 600;
const loading = type === "cover" ? "eager" : "lazy";
const priotity = type === "cover" ? "high" : "auto";

const sizes =
  type === "cover"
    ? "(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, 1248px"
    : "(max-width: 360px) 240px, (max-width: 720px) 540px, 600px";
---

<div class="reveal-img relative overflow-hidden shadow-lg dark:shadow-none">
  <img
    class="absolute -z-10 h-full blur-2xl"
    aria-hidden="true"
    src={placeholderImg.src}
    alt=""
    fetchpriority={priotity}
  />
  <Picture
    src={img}
    formats={["avif", "webp"]}
    sizes={sizes}
    alt={alt}
    loading={loading}
    width={maxWidth}
    pictureAttributes={{
      style: "opacity: 0",
    }}
    class={className}
  />
</div>
