---
import { Icon } from "astro-icon/components";

interface Props {
  id: string;
  title: string;
  type: "prev" | "next";
}

const { id, title, type } = Astro.props;

if (!id) return;

const isNext = type === "next";
const iconName = isNext ? "lucide:arrow-right" : "lucide:arrow-left";
const positionType = isNext ? "text-right" : "text-left";
const paddingType = isNext ? "justify-end" : "justify-start";
const typeName = isNext ? "Previous" : "Next";
---

<a
  href=`/serie/${id}`
  class=`border-muted-border hover:bg-muted-background flex w-1/2 items-center gap-3 border p-3 lg:px-4 lg:py-6 text-xl ${paddingType}`
>
  {!isNext && <Icon name={iconName} class="text-muted text-xl md:text-3xl" />}
  <div class=`${positionType}`>
    <p class="text-muted">{typeName}</p>
    <p class="text-xl md:text-2xl">{title}</p>
  </div>
  {isNext && <Icon name={iconName} class="text-muted text-xl md:text-3xl" />}
</a>
